@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
     
}

/* :root {
    --bg-color: #1f242d;
    --second-bg-color: #65655E;
    --text-color:#fff;
    --text-color2:#000;
    --main-color:#0FD;
    --placeholder-color:#a9a9a9;
    --border-color: #add8e6;
} */

:root {
    --bg-color: #46484b;
    --second-bg-color:#6b6d70 ;
    --text-color:#fff;
    --text-color2:#000;
    --main-color:#0ff;
    --placeholder-color:#a9a9a9;
    --border-color: #add8e6;
}

html {
    font-size: 62.5%;
    overflow-x:hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 100px 10%;
}

textarea {
    display: flex;
    color: var(--text-color);
    background: var(--second-bg-color);
    padding: 3rem;
    margin: 1rem 0.4rem 1rem 0.4rem;
    width: 99%;
    font-size: 2rem;
    height: 40rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 2rem;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
textarea:hover{
    background: var(--placeholder-color);
    color: var(--text-color2);
}

textarea:focus {
    border-color: var(--border-color);
}

label:hover {
    text-shadow: #0fd;
}

input {
    background: var(--second-bg-color);
    cursor:pointer;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    width: 40rem;
    border-radius: 1rem;
    color: var(--text-color);
    border: .2rem solid var(--second-bg-color);
    
}

input:hover {
    background: var(--placeholder-color);
    color: var(--text-color2);
}


input:focus {
    border-color: var(--border-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem 5% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor:default;
}

.menu a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: .3s;
    right: 0;
}

.menu a:hover,
.menu a.active {
    color: var(--main-color);
}

.open-menu, .close-menu {
    position: absolute;
    color: var(--text-color);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 2rem;
    transform: translateY(-30%);
}
.close-menu {
    top: 10%;
    right: 2rem;
    transform: translateY(-30%);
}
#check {
    display: none;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
}
.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 4rem;
}
.home-content {
    max-width: 650px;
}

.profile-pic {
    position: relative;
    margin-left: 6rem;

}

.img-box {
    text-align: center;
    justify-content: center;
    top: 0;
    margin-bottom: 20%;
    margin-left: 10%;
}

.img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
    background-color:var(--second-bg-color);
    border-width: 5px;
    border-color: var(--main-color);
    box-shadow: 0 0 100rem 0 var(--main-color);
    max-height: 500px;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    
    
}
.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 25%;
    left: 14%;
}
.liquid-shape path {
    box-shadow: 0 0 100rem 0 var(--main-color);
}

.liquid-shape2 {
    position: absolute;
    z-index: 0;
    top: 49%;
    left: 20%;
    height: 100%;
    width: 100%;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}
.home-content h1 {
    font-size:5rem;
    font-weight: 700;
    line-height: 1.3;
}

.changing-text {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.changing-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;

}

.changing-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    font-style: italic;
    flex-wrap: wrap;
}

.changing-text h3 .word .letter{
    transform-origin: center center 25px;
}

.changing-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

 .changing-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.changing-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
} 

.home-content p {
    font-size: 1.6rem;
    margin-right: 2rem;
    
}

.social-media {
    margin: 2rem 0 3rem 0;
}

.social-media a {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: .5% 1%;
    margin: 3rem 1.5rem 2rem 0;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    transition: .5s ease-in-out;
}
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color) ;
}

.btn {
    display: inline-block;
    padding: 1rem 1.2rem;
    background: var(--main-color);
    border-radius: 4rem;
    border: var(--main-color);
    border-width: 0.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 700;
    transition: .5s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;

}
.btn:hover {
    color: var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
}
.btn:hover::before {
    width: 100%;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .4s;
}
.link i {
    font-size: 30px;
}

.about {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10rem;
    background: var(--second-bg-color);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .about {
        align-items: center;
        grid-template-columns: 1fr;
        gap:1rem;
        justify-content: center;
    }
    .about-img {
        justify-content: center;
        display: flex;

    }
    .about-img img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border: 0.5rem solid var(--main-color);
        box-sizing: border-box;
    }
}


.about-img img {
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    border-radius: 50%;
    border: 0.5rem solid var(--main-color);
    /* box-shadow: 0 0 0 10rem var(--main-color); */
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.more {
    display: none;
}


/* education */

.education-container{
    width: 100% ;
    height: 80vh;
    align-items: center;
    justify-content: center;

}

.timeline {
    position: relative;
    max-width: 80%;
    height: 80vh;
    margin: 5rem auto;
    justify-content: center;
    align-items: center;

}

  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.container {
    padding: 20px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
    height: auto;
    margin: 0 50px 10px 0;
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    justify-content: center;
    align-items: center;
}
.container.left:target{
    left: 0;
}

.container.right:target{
    right: 0;
}

.container.animate.left{
    animation: slideFromLeft 5s ease forwards;
}

.container.animate.right{
    animation: slideFromRight 5s ease forwards;
}



.left {
    left: 0;
    text-align: end;
}

.right {
    left: 50% ;
    text-align: start;
}

  /* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 19px;
    width: 0;
    z-index: 1;
    right: -30px;
    border: medium solid white;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent white;
    transition: all 0.5s ease-in-out;
}

  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 19px;
    width: 0;
    z-index: 1;
    left: -30px;
    border: medium solid white;
    border-width: 20px 20px 20px 0;
    border-color: transparent white transparent transparent;
    transition: all 0.5s ease-in-out;
}

.container.right:hover::before{
    border: medium solid var(--main-color);
    border-color: transparent var(--main-color) transparent transparent;
    border-width: 20px 20px 20px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container.left:hover::before{
    border: medium solid var(--main-color);
    border-color: transparent transparent transparent var(--main-color);
    border-width: 20px 0 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

 
/* Fix the circle for containers on the right side */
.right::after {
    left: 10px; 
    top: 15px;
} 


  
.container:hover {
    box-shadow: 0 8px 16px 0 var(--main-color);
    border-bottom:5px solid var(--main-color);
    
}
  
  .container::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid white;
    border-radius: 50%;
    right: 10px;
    top: 15px;
    transition: all 0.5s ease-in-out;
  }
  
  .container:hover::after {
    border: 10px solid var(--main-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .education .content h3 {
    width: auto;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .education .content h2 {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
    color: var(--main-color);
  }
  .education .content p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 10px;
        right: -10px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    }


/* Skills Section */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);

}
.skills h2 {
    font-size: 5.6rem;

}
.skills i {
    font-size: 10rem;
    background-color: transparent;
}
.skillIcons {
    display: block;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
}


.skillIcons img {
    height: 8rem;
    width: 8rem;
    margin: 1rem;
}

.bounce {
    animation: bounce 2s ease-in-out infinite;
}
.pulse {
    animation: pulse 1.5s ease-in-out infinite;
}
.spin {
    animation: spin 1.5s linear infinite;
}
.shake {
    animation: shake 2s ease-in-out infinite;
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-top: 5rem;
}

/* Technical skills */

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: var(--text-color);
    text-align: center;
    font-size: 3rem;
}

.technical-skills .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.technical-skills .skill-bar .info p {
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.technical-skills .skill-bar .bar{
    width: 100%;
    height: 12px;
    background-color: var(--second-bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
    
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: 0 0 1rem var(--main-color);
}
.skill-bar .bar .figma {
    width: 95%;
    animation: figma 2s;
} 
.skill-bar .bar .react {
    width: 90%;
    animation: react 2s;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 2s;
}
.skill-bar .bar .python {
    width: 85%;
    animation: python 2s;
}
.skill-bar .bar .javascript {
    width: 80%;
    animation: javascript 2s;
}
.skill-bar .bar .java {
    width: 75%;
    animation: java 2s;
}
/* Personal skills */
.personal-skills {
    align-items: center;
    justify-content: center;
}
.skill-container {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);


}

.box {
    position: relative;
    padding: 5px;
    margin: 10px 5px;
    flex: 2 2 15rem;
}

.box .text{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
    padding-left: 1rem;
}

.box .text big{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    position: absolute;
    top:45%;
    align-items: center;
    justify-items: center;
    transform: translate(-50%, -50%) ;
}

.box .text small{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.circle {
    margin: 5px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    position: relative;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--second-bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot)))translateY(-45px);

}

.points.marked{
    animation: blinks 0.2s linear forwards;
    animation-delay: calc(var(--i)*0.01s);
} 


/* services */
.services{
    background-color: var(--second-bg-color);
}
.services h2 {
    margin-bottom:  5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color); 
    transition: .5s ease;

}
.services-container .services-box:hover {
    border-color: var(--main-color);
    transform:scale(1.1) ;
}
.services-box i {
    font-size: 4rem;
    width: 6rem;
    height: 6rem;
    padding: .5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
}

.services-box i:hover {
    box-shadow: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin:1rem 0 3rem;
}
/* projects */
.projects{
    background-color: var(--second-bg-color);
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}
.project-box {
    position: relative;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: inherit;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow:0 0 1rem 0 var(--main-color);
    height: 250px;
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.project-slideShow {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; */
    width: inherit;
    height: inherit;
    margin: 0 0 0 -600px;
    position: relative;
    -webkit-animation-name: slide-show;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

.project-slideShow img{
    width: fit-content;
    height: inherit;
    object-fit: cover;
    opacity: .5s;
    transition: .5s;
    
}
.mySlides {
    /* display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute; */
    height: 100%;
    width:200px;
    position: relative;
    float: left;
    object-fit: cover;

}

.mySlides2 {
    /* display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute; */
    height: 100%;
    width:120px;
    position: relative;
    float: left;
    object-fit: cover;

}

.projects h3 {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link {
    display: inline-flex;

}

.project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Change height to auto */
    opacity: 0; /* Set opacity to 1 for visibility */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Add padding for spacing */
    background: linear-gradient(rgba(0, 0, 0, 0.8), #0fd) ; /* Add background color for readability */
    z-index: 1; /* Ensure content appears above image */
    transition: opacity 0.5s ease-out; /* Add transition for smooth visibility */
    text-align: center; /* Center align text */
}

.project-content h3{
    font-size: 1.8rem;
    font-weight: 500;
}
.project-content p {
    font-size: 1.2rem;
    color: #fff; /* Set text color */
    margin: 1rem 2rem 0.5rem 2rem; 
}

.project-box:hover .project-content{
    opacity: 1;
}


.project-box:hover .project-image{
    transform: scale(1, 1.2);
}

/*Contact me*/
.contacts {
    justify-content: center;
    align-items: center;
}
.contacts h2 {
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contacts1 {
    margin: 5rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;

}
.contact_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.contact-box {
    display: flex;
    gap: 1rem;
}
.contact-box a {
    font-size: medium;
    color: var(--text-color);
    padding-top: 1rem;
}

.contact-box i {
    display: flex;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: .2rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding: 3% 0 3% 0 ; 
    color: var(--text-color);
}
@media screen and (max-width: 768px) {
    .contact-form {
        border: none; /* Hide for small screens */
    }
}
.input-border {
    border: .2rem solid var(--second-bg-color);
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 2rem;
    padding:0 .3rem 0 .3rem;
    transition: 1s ease;
    border-bottom-width: .3rem;
    margin: 1rem;
    box-shadow: 0 0 1rem 0 var(--main-color);
}
.field .item .error {
    border-color: red;
}

.input-border:hover {
    border-bottom-color: var(--main-color);
    border-top-color: var(--border-color);
    border-bottom-width: .3rem;
} 

.textArea-border {
    display: flex;
    border: .2rem solid var(--second-bg-color);
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 2rem;
    padding: 0.5rem;
    transition: 2s ease;
    border-bottom-width: .3rem;
    margin: 0.5rem;
    box-shadow: 0 0 1rem 0 var(--main-color);
    resize: none;
}

.textArea-border:hover {
    border-bottom-color: var(--main-color);
    border-top-color: var(--border-color);
    border-bottom-width: .3rem;
} 

.inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
input::placeholder{
    color: var(--placeholder-color);
}

textarea::placeholder{
    color: var(--placeholder-color);
}

input:hover::placeholder{
    color: var(--text-color2);
}

textarea:hover::placeholder{
    color: var(--text-color2);
}
.error_text {
    font-size: 12px;
    color: red;
    text-align: left;
    margin: 1px 0 1px 20px;
    display: none;
}



@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(45deg);}
    from {transform: rotate(45deg);}
    to {transform: rotate(0deg);}
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
} 
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} 
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

@keyframes figma {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}
@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes blinks {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background:var(--main-color);
        box-shadow: var(--main-color);
    }
}
@keyframes opacity {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 20%;
    }
    40%{
        opacity: 40%;
    }
    60% {
        opacity: 60%;
    }
    80% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slideFromLeft{
    from {
        transform: translateX(-100%);
        background-color: var(--second-bg-color);
      }
      to {
        transform: translateX(0);
      }
}

@keyframes slideFromRight{
    from {
        transform: translateX(100%);
        background-color: var(--second-bg-color);
      }
    to {
        transform: translateX(0);
      } 
}

@-webkit-keyframes slide-show {
    0% {left: 600px;}
    10% {left: 150px;}
    20% {left: 150px;}
    30% {left: 300px;}
    40% {left: 300px;}
    50% {left: 600px;}
    60% {left: 475px;}
    70% {left: 475px;}
    80% {left: 350px;}
    90% {left: 350px;}
    100% {left: 600px;}
}
@media(max-width: 720px){
    .menu a{
        font-size: 1.5rem;
    }
}

@media(max-width: 610px){
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height:100vh;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--second-bg-color);
        z-index: 100;
        transition: all 0.5s ease-in-out;
    }
    .menu a{
        padding: 2rem;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu{right: 0;}
    .contacts1{
        grid-template-columns: 1fr;
        margin: 1rem 0;
        justify-items: start;
    }
    .contact_info{
        margin: .5rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .left::before {
        display: none;
    }
    .right::before{
        display: none;
    }
}
